.about-us {
    margin-top: 49px;

    &__title {
        font-size: 48px;
        font-weight: 400;
    }

    &__description {
        font-size: 16px;
        max-width: 1235px;
        margin-top: 18px;
        line-height: 32px;
    }

    &__content {
        display: flex;
    }

    &__content {
        margin-top: 52px;
        gap: 32px;
    }

    &__left {
        flex: 1;
        border-radius: 32px;
        height: 622px;
        background: url(../../src/assets/img/worker.png);
        background-size: cover;
        position: relative;

        &__content {
            position: absolute;
            bottom: 0;
            border-radius: 32px;
            padding: 50px;
            background: rgba($color: #000000, $alpha: 0.5);
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;

            &-text {
                max-width: 433px;
                color: #fff;
                font-weight: 700;
                font-size: 16px;
                line-height: 32px;
            }

            &__button {
                padding: 20px 38px;
                font-size: 16px;
                font-weight: 700;
                cursor: pointer;
                border: 3px solid #ff9900;
                border-radius: 15px;
                background: transparent;
                transition: 0.5s;
                color: #fff;
                font-weight: 600;

                &:hover {
                    background: #ff9900;
                }

                &:focus {
                    background: #ff9900;
                }

                &:active {
                    background: #e1670e;
                    border-color: #e1670e;
                }
            }
        }
    }

    &__right {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 32px;

        &__item {
            border: 1px solid #cacaca;
            padding: 64px 58px;
            display: flex;
            align-items: center;
            gap: 50px;
            border-radius: 32px;
        }

        &__content {
            display: flex;
            flex-direction: column;

            &__title {
                font-size: 24px;
            }

            &__description {
                margin-top: 8px;
                font-size: 16px;
                line-height: 32px;
                max-width: 450px;
            }
        }
    }
}
