.banner {
    background: url(../../../src/assets/img/banner.jpg);
    margin-top: 50px;
    padding: 100px 80px;
    border-radius: 32px;

    &__content {
        max-width: 837px;
    }

    &__title {
        font-size: 70px;
        font-weight: 800;
        color: #fff;
    }

    &__description {
        font-size: 24px;
        font-weight: 700;
        color: #fff;
        margin-top: 24px;
    }

    &__button {
        margin-top: 90px;
        padding: 25px 39px;
        font-size: 23px;
        background: #ff9900;
        font-weight: 700;
        border-radius: 16px;
        color: #fff;
        border: none;
        cursor: pointer;
        transition: all 0.5s;

        &:hover {
            background: #ffb84d;
        }

        &:focus {
            background: #ffb84d;
        }

        &:active {
            background: #e1670e;
        }
    }
}
